@using Cafe_App.Models.Auth
@model RegisterUserViewModel

@{
    Layout ="~/Views/Shared/_LayoutAuth.cshtml";
}

<form method="post">
    <div>
        @Html.TextBoxFor(x => x.UserName, new { placeholder = "логин" })
    </div>
    <div>
        @Html.TextBoxFor(x => x.Password, new { @type = "password", placeholder = "пароль" })
    </div>
    <div>
        <button type="submit">Регистрация</button>
    </div>
</form>
